[submodule "docs/equal-loudness"]
	path = projects/equal-loudness
	url = https://github.com/musios-app/equal-loudness.git
[submodule "_themes/Plain-Webcomic"]
	path = _themes/Plain-Webcomic
	url = https://github.com/peahatlanding/Plain-Webcomic.git
[submodule "projects/speaker-loudness-calibration"]
	path = projects/speaker-loudness-calibration
	url = https://github.com/musios-app/speaker-loudness-calibration.git
[submodule "projects/gp-support-act"]
	path = projects/gp-support-act
	url = https://github.com/musios-app/gp-support-act.git
[submodule "projects/logic-pro-scripter"]
	path = projects/logic-pro-scripter
	url = https://github.com/musios-app/logic-pro-scripter.git
[submodule "projects/web-sheet-music-midi"]
	path = projects/web-sheet-music-midi
	url = https://github.com/musios-app/web-sheet-music-midi.git
