### Jekyll ###
_site/
.sass-cache/
.jekyll-metadata

### Ruby ###
*.gem
*.rbc
Gemfile.lock

## Environment normalization:
/.bundle/
/vendor/bundle
/lib/bundler/man/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Hidden files
_DELETE*
