.dark-medium-contrast {
  --md-sys-color-primary: rgb(232 187 248);
  --md-sys-color-surface-tint: rgb(227 183 243);
  --md-sys-color-on-primary: rgb(39 5 55);
  --md-sys-color-primary-container: rgb(171 130 187);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(216 196 220);
  --md-sys-color-on-secondary: rgb(30 18 34);
  --md-sys-color-secondary-container: rgb(157 139 161);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(249 187 186);
  --md-sys-color-on-tertiary: rgb(44 11 12);
  --md-sys-color-tertiary-container: rgb(186 131 129);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(22 18 23);
  --md-sys-color-on-background: rgb(233 224 231);
  --md-sys-color-surface: rgb(22 18 23);
  --md-sys-color-on-surface: rgb(255 249 251);
  --md-sys-color-surface-variant: rgb(76 68 77);
  --md-sys-color-on-surface-variant: rgb(210 199 210);
  --md-sys-color-outline: rgb(170 160 170);
  --md-sys-color-outline-variant: rgb(137 128 138);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(233 224 231);
  --md-sys-color-inverse-on-surface: rgb(45 40 46);
  --md-sys-color-inverse-primary: rgb(93 58 109);
  --md-sys-color-primary-fixed: rgb(247 216 255);
  --md-sys-color-on-primary-fixed: rgb(33 0 50);
  --md-sys-color-primary-fixed-dim: rgb(227 183 243);
  --md-sys-color-on-primary-fixed-variant: rgb(74 40 90);
  --md-sys-color-secondary-fixed: rgb(241 220 244);
  --md-sys-color-on-secondary-fixed: rgb(24 13 29);
  --md-sys-color-secondary-fixed-dim: rgb(212 192 215);
  --md-sys-color-on-secondary-fixed-variant: rgb(63 49 68);
  --md-sys-color-tertiary-fixed: rgb(255 218 216);
  --md-sys-color-on-tertiary-fixed: rgb(37 7 8);
  --md-sys-color-tertiary-fixed-dim: rgb(245 183 182);
  --md-sys-color-on-tertiary-fixed-variant: rgb(83 43 42);
  --md-sys-color-surface-dim: rgb(22 18 23);
  --md-sys-color-surface-bright: rgb(61 55 61);
  --md-sys-color-surface-container-lowest: rgb(17 13 18);
  --md-sys-color-surface-container-low: rgb(30 26 31);
  --md-sys-color-surface-container: rgb(35 30 35);
  --md-sys-color-surface-container-high: rgb(45 40 46);
  --md-sys-color-surface-container-highest: rgb(56 51 57);
}
