<!-- Nav drawer -->
<div id="drawer" class="bmd-layout-drawer bg-faded">
    <ul class="list-group list-group-flush border-top" id="drawer-links">
        {% if site.navigation %}
            {% for link in site.navigation %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
                </li>
            {% endfor %}
        {% else %}
            {% for page in site.pages %}
                {% if page.title %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        {% endif %}
    </ul>
</div>