
<header class="mb-5">
    <div class="container-fluid hero">
        <div class="container inner">
            <div class="container align-items-center titles">

                <div class="col-2">
                    <div class="logo-container">
                        <a href="{{ site.url }}/index.html">
                            <img src="/assets/images/Musios logo - white.svg"/>
                        </a>
                    </div>
                </div>

                <div class="col-8">
                    <div class="text-center h-100">
                        <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
                        <h2 id="project_tagline">{{ site.description }}</h2>
                    </div>
                </div>

                <div class="col-2">
                </div>

            </div>
        </div>
    </div>

    {% if site.show_github %}
        <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>
    {% endif %}

</header>