
<header class="mb-5 bg-dark">
    <div class="container-fluid hero">
        <div class="container inner">

                <div class="container align-items-center titles">
                    <div class="col-2">
                        <div class="logo-container p-2">
                            <a class="ml-4" href="{{ site.url }}/index.html">
                                <img src="/assets/images/musios-logo-white.svg"/>
                            </a>
                        </div>
                    </div>

                    <div class="col-8">
                        <div class="text-center h-100">
                            <h1 id="project_title">{{ site.title | default: site.github.repository_name }}</h1>
                            <h2 id="project_tagline">{{ site.description }}</h2>
                        </div>
                    </div>

                    <div class="col-2">
                    </div>
                </div>
        </div>

    </div>

<style>
    .navbar-nav {
    display: flex;
    align-items: center;
}

.nav-item {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}
</style>

    <div class="container bg-dark navbar-container">
        <div class="container inner">
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark align-middle">
                <div class="container-fluid align-middle">
                    <button class="navbar-toggler align-middle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse align-middle" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-middle">

                            <li class="nav-item align-middle">
                                <a class="nav-link align-middle" aria-current="page" href="{{ site.url }}/index.html">
                                    <i class="fa-solid fa-house"></i>
                                </a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Tools &amp; Doc
                                </a>
                                <ul class="dropdown-menu bg-dark">
	                                {% for project in site.projects_homes %}
		                                {% assign url = project.dir | append: "/" | append: project.home | replace: ".md", ".html" %}

                                        {% for page in site.pages %}
                                            {% if url == page.url %}
                                                <li class="nav-item align-middle">
                                                    <a class="dropdown-item nav-link" href="{{ page.url }}">{{ page.title }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link align-middle" href="https://github.com/orgs/musios-app/discussions">Discussion</a>
                            </li>

                            {% assign issues = site.github.repository_url | append: '/issues' %}
                            {% if page.gitrepo %}
                                {% assign issues = page.gitrepo | append: '/issues' %}
                            {% endif %}

                            <li class="nav-item">
                                <a class="nav-link align-middle" href="{{ issues }}">Issues</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ page.gitrepo | site.github.repository_url }}">
                                    <i class="fa-brands fa-github"></i> Github
                                </a>
                            </li>

                        </ul>

                        <ul class="search-wrapper">
                            <form id="navbar-search-form" class="d-flex align-middle" method="get" role="search" action="{% if site.google.cse_id %}{{ "/search/" | prepend: site.baseurl }}{% else %}https://www.google.com/search{% endif %}">
                                {% if site.google.cse_id %}
                                {% else %}
                                    <input type="hidden" name="as_sitesearch" value="musios.app" />
                                {% endif %}

                                <div class="input-group align-middle">
                                    <input class="form-control search-field me-2 rounded" id="navbar-search-field" name="q" placeholder="Search" type="text" aria-label="Search"/>
                                    <button class="btn outline-none rounded search-button align-middle py-0 px-2" id="navbar-search-button" type="submit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>                                
                            </form>
                        </div>

                    </div>
                </div>
            </nav>
        </div>
    </div>

</header>
