{%- assign banner_title = page.title | default: site.title | default: site.github.repository_name | replace: '|', '&#124;' -%}
{%- assign banner_tagline = page.description | default: site.description | replace: '|', '&#124;' -%}

<header class="mb-5 bg-dark">

    <div class="container-fluid hero-mobile d-md-none py-2">
        <div class="container inner py-2">
            <div class="text-center h-100">
                <a class="ml-4" href="{{ site.url }}/index.html">
                    <img class="banner-logo" src="/assets/images/musios-logo-white.svg"/>
                </a>
                <h1 class="banner-title">{{ banner_title }}</h1>
                <h2 class="banner-tagline">{{ banner_tagline }}</h2>
            </div>
        </div>
    </div>

    <div class="container-fluid hero-desktop d-none d-md-block">
        <div class="container inner">
            <div class="container align-items-center titles">
                <div class="col-2">
                    <div class="logo-container p-2">
                        <a class="ml-4" href="{{ site.url }}/index.html">
                            <img class="banner-logo" src="/assets/images/musios-logo-white.svg"/>
                        </a>
                    </div>
                </div>

                <div class="col-8">
                    <div class="text-center h-100">
                        <h1 class="banner-title">{{ banner_title }}</h1>
                        <h2 class="banner-tagline">{{ banner_tagline }}</h2>
                    </div>
                </div>

                <div class="col-2">
                </div>
            </div>
        </div>

    </div>

    <div class="container bg-dark navbar-container">
        <div class="container inner px-0">
            {% include navbar.html %}
        </div>
    </div>

</header>
