---
---

$hero-height: 12.0rem;
$title-height: 6.0rem;
$logo-height-desktop: $title-height * 0.7;

$header-text-color: rgba(255, 255, 255, 0.80);
$header-text-color-hover: rgba(255, 255, 255, 0.95);

header {
    h1, h2, h3, h4 { margin: 0; }

    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);

    .hero-mobile {
        background: black;
        background-image: url("/assets/images/background-colors-crop.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .container.inner {
            background-color: rgba(0, 0, 0, 0.5);
        }

        .site-logo {
            width: 3rem; 
            height: 3rem; 
            box-shadow: none;
            opacity: 0.9;
            margin: auto;
            background-color: none;
        }

        .site_title {
            font-size: calc(var(--mdb-body-font-size) * 1.6);
            font-weight: bold;
            color: $header-text-color;
        }    
    
        .site_tagline {
            font-size: calc(var(--mdb-body-font-size) * 1.0);
            font-weight: normal;
            color: $header-text-color;
        }
    }

    .hero-desktop {
        height: $hero-height;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("/assets/images/background-colors-crop.jpg");

        .logo-container {
            img {
                width: $logo-height-desktop; 
                height: $logo-height-desktop; 
                box-shadow: none;
                opacity: 0.9;
                margin: auto;
                background-color: none;
            }
        }

        .site_title {
            font-size: calc(var(--mdb-body-font-size) * 2);
            font-weight: bold;
            color: $header-text-color;
        }    
    
        .site_tagline {
            font-size: calc(var(--mdb-body-font-size) * 1.2);
            font-weight: normal;
            color: $header-text-color;
        }
    
        .titles {
            display: flex;
            position: relative;
            top: ($hero-height - $title-height - 1rem);
            max-width: 800px;
            height: $title-height;
    
            margin-left: auto;
            margin-right: auto;
            padding: none;
    
            border-radius: $title-height/8;
            border: solid 1px rgba(0,0,0,0.8);
            box-shadow: 0 0 0.5rem rgba(0, 0, 0, 1);
    
            background-color: rgba(40,40,40,0.95);
        }
    }


    .navbar-container {
        .navbar {
            margin: 0;
            padding: 0;

            .nav-item {
                margin-right: 1rem;
            }

            .nav-link {
                color: $header-text-color;
                &:hover {
                    color: $header-text-color-hover;
                    background-color: inherit;
                }
            }

            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255,0.80)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
            }

            .dropdown-menu {
                border: solid 1px grey;
                box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
    
                .dropdown-item {
                    border: none;
                    padding: 0.5rem 1rem;
    
                    &::before {
                        content: "\266B";
                        padding-right: 8px;
                        opacity: 75%;
                    }
                }
            }

            .search-wrapper {
                display: flex;
                justify-content: center;
                margin: 0.3rem;
                padding: 0.1rem;
                border-radius: 0.5rem;
                background-color: rgba(255, 255, 255, 0.85);
                box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.99);
                max-width: 240px;

                .search-field {
                    background-color: inherit;

                    margin: 0.2rem;
                    padding: 0.1rem 0.5rem;

                    button {
                        box-shadow: none;
                    }
                }
            }
        }
    }
}