// ---
// ---

@import "{{ site.theme }}";

// body {}

header {
    .hero {
        height: 9.0rem;
        background-image: url("/assets/images/background-colors-crop.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .titles {
        position: relative;
        height: 3.0rem;
        background-color: black;
        margin-bottom: 0px;
        padding: 5px 10px;
        color: #ffffff;
        text-shadow: 0 0 1.0rem #888888;

        #project_title, #project_tagline {
            display: inline-block;
            line-height: normal;
            font-size: 1.5rem;
        }

        #project_title {
            font-weight: bold;
        }    
    }
}

// #forkme_banner {
//     display: none;
// }

// #main_content_wrap {
//     .outer {
//     }
//     .inner {
//     }
// }

