---
---

@import "{{ site.theme }}";

#header_wrap {
    background-color:#0f0;

    &.outer {
        background-image: none;
        background-color:#ff0;
    }
    

    .outer {
        background-color:#ff0;
    }
    .inner {
        background-color:#00f;
    }
}

#main_content_wrap {
    .outer {
        background-color:#f00;
    }
    .inner {
        background-color:#0ff;
    }
}

body {
    margin: 10px;
    background-color:#f00;
    color:#000;
}