---
---

@import "{{ site.theme }}";

body {}

#header_wrap {
    &.outer {
        background: none;
        background-image: url("/assets/images/background-colors-crop.jpg");
        background-position: center bottom;
        // background-color:#ff0;
    }

    .outer {
        // background-color:#ff0;
    }
    .inner {
        // background-color:#00f;
    }
}

#main_content_wrap {
    .outer {
    }
    .inner {
    }
}

